<!-- If the user has any error messages -->
  <!-- Iterate through all of them -->
    <!-- Print out the messages -->

<% unless @user.errors.full_messages.empty? %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <div class="form">
  <p>
    <%= f.label :username %>
    <%= f.text_field :username, :required => true %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </p>
  <p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.cl_image_upload :image, :required => true %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :required => true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </p>

  <button class = "submit">
  <%= f.submit %>
  </button>
  </div>
<% end %>
