<!-- If the user has any error messages -->
  <!-- Iterate through all of them -->
    <!-- Print out the messages -->

<% unless @user.errors.full_messages.empty? %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="row">
<%= form_for(@user, :html => {:multipart => true}, :class => "col s12") do |f| %>
  <div class="input-field col s6 offset-s3">
    <%= f.label :username, :class => "active" %>
    <%= f.text_field :username, :required => true %>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :email, :class => "active" %>
    <%= f.email_field :email, :required => true %>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :bio, :class => "active" %>
    <%= f.text_area :bio %>
  </div>
  <div class="input-field col s6 offset-s3">
    <p>
    <%= f.label :image, :class => "active" %>
    <%= f.cl_image_upload :image, :required => true %>
  </p>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :password, :class => "active" %>
    <%= f.password_field :password, :required => true %>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :password_confirmation, :class => "active" %>
    <%= f.password_field :password_confirmation, :required => true %>
  </div>

  <div class="input-field col s6 offset-s3">
    <button class ="btn waves-effect waves-light">
  <%= f.submit %>
  </button>
  </div>
<% end %>
</div>
