<div class="container">
  <h3><%= @user.username %>'s Profile</h3>

<ul class="user_profile">
  <li><%= cl_image_tag(@user.image, :class => "profile_image") %></li>
  <li><h5><%= @user.username %>'s Bio</h5></li>
  <li><%= @user.bio %></li>
</ul>

<!-- Only show these buttons if the @user variable contains the same user as @current_user -->
<% if @user === @current_user %>
  <div class="controls">
    <%= link_to "Edit user", edit_user_path( @user ) %> |
    <%= link_to "Delete account", user_path( @user ), :method => :delete, :data => { :confirm => "Are you sure?" } %>
  </div>
  <% end %>
</div>
