

<div class="row">
 <%= form_for( @post, :html => {:multipart => true}, :class => "col s12" ) do |f| %>
  <div class="input-field col s6 offset-s3">
    <%= f.label :title, :class => "active" %>
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :date, :class => "active"%>
    <%= f.date_field :date, :required => true, :min => "2016-01-01", :max => "2016-12-31" %>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :text, :class => "active" %>
    <%= f.text_area :text, :class => "materialize-textarea", :id => "textarea1", :required => true %>
  </div>
  <div class="input-field col s6 offset-s3">
    <%= f.label :image, :class => "active" %>
    <!-- <button class="btn waves-effect waves-light"> -->
    <%= f.cl_image_upload :image, :required => true%>
  <!-- </button> -->
  </div>
  <div class="input-field col s6 offset-s3">
    <button class ="btn waves-effect waves-light">
      <%= f.submit %>
    </button>
  </div>
  <% end %>
</div>



<!-- TO DO: -->
  <!-- Find out how to save user_id automatically with form submission -->
