

<%= form_for @post, :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date, :required => true, :min => "2016-01-01", :max => "2016-12-31" %>
  </p>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text, cols: 100, rows: 40, :class => "textbox", :required => true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>

    <%#= f.label :image %>
    <%#= cl_image_upload_tag :image %>


  </p>

  <%= f.submit %>
<% end %>

<!-- TO DO: -->
  <!-- Find out how to save user_id automatically with form submission -->
