<h3>2016: A Year of Shit</h3>

<% post = @posts.order(:date) %>

<% post.each do |p| %>
<div class="card large">
  <div class="card-image waves-effect waves-block waves-light">
      <%= cl_image_tag(p.image, :class => "activator") %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><%= p.date %></span><br/>
      <span class="card-title activator grey-text text-darken-4"><%= link_to(p.title, post_path(p)) %><i class="material-icons right">more_vert</i></span>
      <p><%= link_to("Read More", post_path(p)) %>
      <p>
          <!-- RATINGS -->
        <%= p.ratings.length %>
          <!-- RATE ACTION -->
        <% if @current_user.present? %>
        <%= link_to "Rate Post", rate_post_path(p) %>
        <% end %>
          <!-- END RATINGS -->
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <%= p.text %></p>
        </div>
  </div>
<% end %>
