<h5><%= @post.date.strftime("Shit happened on: %e %B %Y") %></h5>

<h3><%= @post.title %></h3>

<% if @post.image %>
  <p><%= image_tag(@post.image, :class => "post_image") %>
<% end %>

<% if @post.user_id %>
  <p>
    Submitted by: <%= image_tag(@post.user.image, :class => "avatar") %> <%= link_to( @post.user.username, "/users/#{@post.user_id}") %>
  </p>
<% end %>

<p><%= @post.text %></p>

<!-- Show how many ratings are attached to the current post -->
<p>
  <%= @post.ratings.length %>
</p>

<!-- LINK TO RATE POST HERE -->
<% if @user.present? %>
  <%= link_to "Rate Post", rate_post_path(@post) %>
<% end %>

<!-- Show comments here -->
<% @post.comments.each do | comment | %>
  <p>
    <%= image_tag(comment.user.image, :class => "avatar") %>
    <%= link_to(comment.user.username, "/users/#{comment.user_id}") %>:
    <%= comment.text %>
  </p>
<% end %>
<!-- ALLOW LOGGED IN USER TO COMMENT HERE -->
<% if @user.present? %>
  <p>
    <%= form_for @comment, :url => comment_post_path( :post_id => @post, :user_id => @post.user.id ) do |f| %>
      <p>
        <%= f.label :text %>
        <%= f.text_field :text, :required => true %>
      </p>
      <%= f.submit %>
    <% end %>
  </p>
<% end %>

<div class="controls">
  <%= link_to "Edit Post", edit_post_path( @post ) %> |
  <%= link_to "Delete Post", post_path( @post), :method => :delete, :data => {:confirm => "Are you sure?"} %>
