
<!-- POST -->
  <h5>
    <%= @post.date.strftime("Shit happened on: %e %B %Y") %>
  </h5>

  <h3>
    <%= @post.title %>
  </h3>

  <!-- Post Author Details -->
    <% if @post.user_id %>
      <p>
        Submitted by: <%= cl_image_tag(@post.user.image, :class => "avatar") %> <%= link_to( @post.user.username, "/users/#{@post.user_id}") %>
      </p>
    <% end %>
  <!-- End Post Author Details -->

  <% if @post.image %>
    <p><%= cl_image_tag(@post.image) %></p>
  <% end %>

  <p><%= @post.text %></p>
<!-- END POST -->


<!-- RATINGS -->
  <p>
    <%= @post.ratings.length %>
  </p>

  <!-- RATE ACTION -->
    <% if @current_user.present? %>
      <%= link_to "Rate Post", rate_post_path(@post) %>
    <% end %>
<!-- END RATINGS -->


<!-- COMMENTS -->
  <% @post.comments.each do | comment | %>
    <p>
      <%= cl_image_tag(comment.user.image, :class => "avatar") %>
      <%= link_to(comment.user.username, "/users/#{comment.user_id}") %>:
      <%= comment.text %>
    </p>
  <% end %>
  <!-- ALLOW LOGGED IN USER TO COMMENT -->
    <% if @current_user.present? %>
      <p>
        <%= form_for @comment, :url => comment_post_path( :post_id => @post, :user_id => @post.user.id ) do |f| %>
          <p>
            <%= f.label :text %>
            <%= f.text_field :text, :required => true %>
          </p>
          <%= f.submit %>
        <% end %>
      </p>
    <% end %>
<!-- END COMMENTS -->

<!-- EDIT - ONLY AVAILABLE FOR AUTHOR OF POST -->
   <% if @current_user.id == @author_id %>
   <div class="controls">
     <%= link_to "Edit Post", edit_post_path( @post ) %> |
     <%= link_to "Delete Post", post_path( @post), :method => :delete, :data => {:confirm => "Are you sure?"} %>
   </div>
   <% end %>
<!-- END EDIT -->
