<!DOCTYPE html>
<html>
<head>
  <title>Burn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag("jquery.ui.widget", "jquery.iframe-transport", "jquery.fileupload", "jquery.cloudinary") %>
  <%= cloudinary_js_config %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>

<header>
  <div class="flash-ohno">
    <% if flash[:destroyed] %>
      <%= flash[:destroyed] %>
    <% end %>
  </div>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">&nbsp;Another Terrible Year</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("WHYYY!?", about_path) %></li>
      <li><%= link_to("All 2016 Posts", posts_path) %></li>

      <!-- Nav bar conditionals, dependent on user being logged in -->
        <% unless @current_user.present? %>
          <li><%= link_to("Sign Up", new_user_path) %></li>
          <li><%= link_to("Login", login_path) %></li>
        <% else %>
          <li><%= link_to("Create a Post", new_post_path) %></li>
          <li><%= link_to("Edit Profile", edit_user_path) %></li>
          <li><%= link_to("Logout #{@current_user.email}", login_path, :method => :delete) %></li>
        <% end %>
    </ul>

    <!-- User flash message, if login successful -->
      <% if flash[:success] %>
        <%= flash[:success] %>
      <% end %>
    </div>
  </nav>
</header>

    <!-- User flash message, if login unsuccessful -->
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>

    <%= yield %>
  <hr>
<footer>
</footer>

</body>
</html>
